*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
